.locked.presentation {
    .node-component {
        overflow: hidden !important;
    }
}

.locked,
.presentation {
    .comment {
    textarea {
        pointer-events: none;
    }
    }

    .iolets {
        opacity: 0 !important;
    }

    .pushable {
        cursor: pointer;
    }

    .pushable:active {
        transform: scale(0.95); /* Scale down when active/pressed */
    }
}

.edge-mover {
    pointer-events: auto;
}
.edge-mover:hover {
    fill: red;
}

.sidebar {
    width: 0px;
}

.sidebar.opened-sidebar {
    width: 240px;
}

.sidebar.opened-sidebar2 {
    width: 320px;
}

@keyframes opensidebar {
    0% {
        width: 0px;
    }

    100% {
        width: 240px;
    }
}

@keyframes opensidebar2 {
    0% {
        width: 0px;
    }

    100% {
        width: 320px;
    }
}

@keyframes closesidebar {
    0% {
        width: 240px;
    }

    100% {
        width: 0px;
    }
}

//.node-component:active {
//    z-index:100000000000 !important;
//}

.node-component.has-error {
    background-color: rgb(255 188 188 / 90%) !important;
    .bg-dark-transparent {
        background-color: #0000002f;
    }
}

.node-component.hydrated {
    /*background-color: blue;*/
}
.context-type-1, .node-component.context-type-1 {
    background-color: #d2ff00;
}
.context-type-1 {
    background-color: #d2ff00;
}

.autocomplete-option.context-type-0 {
    background-color: #000000a3;
}
.autocomplete-option.context-type-1 {
    color: black;

}

.bg-rainbow {

}

.bg-rainbow {
  background: linear-gradient(
    124deg,
    #26ffe4,
    #f6ffe4,
  );
  background-size: 180% 180%;
}


.context-type-7, .node-component.context-type-7 {
    background-color: #ffffff;
}

.context-type-2, .node-component.context-type-2 {
    background-color: #0118ff;
}

.context-type-6, .node-component.context-type-6 {
    background-color: #8f18ff;
}

.dark-modal {
    background-color: #423f3f45;
    border: 1px solid #ffffff0f;
    backdrop-filter: blur(8px);
    z-index: 10000000000 !important;
}

.node-component {
    .patcher-background {
        background-image: unset;
    }
}

.light-mode {
    .bg-zinc-950 {
    }
    .border-zinc-800 {
        border-color: #ffffff61;
    }

    .dark-background {
        background-color: #98989d91;
        .node-component {
            box-shadow: none !important;
        }
    }

    .node-component {
        box-shadow: none;
    }
}

.node-component.selected {
    z-index: 1000000 !important;
}

body {
    --dark-patch-color: #131315;
    color: white;
}

.opened-sidebar,
.opened-sidebar2 {
    backdrop-filter: blur(8px);
}
.sidebar {
    .bg-toolbar {
        background-color: #17191c;
    }
}

.bg-toolbar.top-toolbar.selected-toolbar {
    background-color:#0032ffb8;
}
.bg-toolbar.top-toolbar {
    background-color: #373c4469;
    backdrop-filter: blur(8px);
}

.bg-toolbar {
    background-color:#17191c;
}

body {
    .bg-zinc-900 {
        background-color: var(--dark-patch-color);
    }
}

.light-mode {
    .dark-background {
        .patcher-background {
            background-color: #7e7e88cc !important;
            //backdrop-filter: blur(8px);
        }
    }
}
.dark-background {
    background-color: var(--dark-patch-color);

    .node-component {
        border: none !important;
    }
    .patcher-background {
        background-color: unset !important;
        background-image: unset !important;
    }
}

.light-mode {
    .slot-view.sequencer {
        background-color: #191c1e9f;
    }
    .slot-view.generator {
        background-color: #2426279f;
    }

    .slot-view.effect {
        background-color: #1616169f;
    }
}

.slot-view.sequencer {
    background-color: #191c1e;
}
.slot-view.generator {
    background-color: #242627;
}

.slot-view.effect {
    background-color: #161616;
}
.custom-view {
    background-color: var(--dark-patch-color);
    .patcher-background {
        border: none;
        .node-component {
            border: none;
            box-shadow: unset;

            .cursor-ew-resize {
                display: none;
            }
        }
    }
    border: none;
}

.node-component.comment {
    box-shadow: unset;
}

.h-6_5 {
    height: 1.5rem;
}

.html-viewer {
    p {
        margin: 0px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    font-size: 15px;
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 12px);
    x: 0px;
    justify-content: space-between;
}

.dragging-over {
    .patcher-background {
        background-color: white !important;
    }
}
.light-mode {
    .object-context {
        background-color: #0b0b0b42;
    }
    .node-component.context-type-1 {
        background-color: #d2ff00;
    }
    .node-component.context-type-7 {
        background-color: #ffffff;
    }

    .node-component.context-type-2 {
        background-color: #0118ff;
    }

    .node-component.context-type-6 {
        background-color: #8f18ff;
    }

    .bg-dark-transparent {
        background-color: #848181b8;
    }

    .bg-black-clear {
        background-color: #9e959561;
    }
    --light-patch-color: #6a6a72;
    --dark-patch-color: #98989d;
    .locked {
        .patcher-background {
            //background-image: radial-gradient(circle at center center, rgba(170, 155, 155, 0.78) 0%, rgba(114, 110, 100, 0.28) 11%, transparent 11%, transparent 100%), linear-gradient(90deg, rgb(88 80 80 / 89%), rgb(86 78 78 / 90%));
            background-image: radial-gradient(
                    circle at center center,
                    rgba(68, 67, 67, 0.51) 0%,
                    rgba(61, 58, 58, 0.05) 11%,
                    transparent 11%,
                    transparent 100%
                ),
                linear-gradient(
                    90deg,
                    rgb(179 174 174 / 89%),
                    rgb(165 158 158 / 99%)
                );
        }
    }
    .patcher-background {
         background-image: radial-gradient(
                    circle at center center,
                    rgba(68, 67, 67, 0.51) 0%,
                    rgba(61, 58, 58, 0.05) 11%,
                    transparent 11%,
                    transparent 100%
                ),
                linear-gradient(
                    90deg,
                    rgb(179 174 174 / 89%),
                    rgb(165 158 158 / 99%)
                );
    }
        //background-image: radial-gradient(circle at center center, rgb(116 117 117) 0%, rgb(200 197 185) 11%, transparent 11%, transparent 100%), linear-gradient(90deg, #8c9092, #8d8f96);


    .node-component.border-zinc-900 {
        border-color: #64646b;
    }
    .node-component {
        .bg-zinc-800 {
            background-color: #000000b0;
        }
        .bg-zinc-950 {
            background-color: #857f7f;
        }
    }

    .custom-view {
        background-color: var(--light-patch-color);
        div {
            box-shadow: none !important;
        }
    }

    .bg-zinc-900 {
        background-color: var(--light-patch-color);
        //color: black;

        .text-white {
            //color: black;
        }
    }
}

.dragging-cable {
    svg {
        z-index: 0 !important;
    }
}

svg {
    .edge-group.hover {
        .visible-edge {
            stroke: red !important;
        }
    }
    path.selected-edge {
        stroke: red !important;
    }
    path.zen {
        stroke: #26ffe4;
    }

    path.core {
        stroke: white;
    }

    path.audio {
        stroke: yellow;
    }

    path.gl {
        stroke: #a59df3;
    }
}

.tile.selected-patch {
    //border-color: #cbffef !important;
}

.tile {
    flex-grow: 1;
    border-width: 1px !important;
    flex-shrink: 1;
    flex-basis: 0;
    margin: 1px;
    border-radius: 1px;
    overflow: hidden;
    border-color: #1b1b1b !important;
}

.tile.horizontal-tile {
    //animation: horizontal-slide 0.6s ease//;
    //max-width: 100%;
}

.tile.vertical-tile {
    //animation: vertical-slide 0.6s ease;
    //max-height: 100%;
}

@keyframes horizontal-slide {
    0% {
        max-width: 0%;
    }
    100% {
        max-width: 100%;
    }
}

@keyframes vertical-slide {
    0% {
        max-height: 0%;
    }
    100% {
        max-height: 100%;
    }
}

.tile-container {
    gap: 0px;
}

.save-connect {
    button {
        background-color: white;
        border-radius: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: black;
        cursor: pointer;
    }
}

[data-rk] ._9pm4ki3 {
    z-index: 100000000000000000;
}

.custom-view,
.patch-window {
    .message-node {
        background-color: #0000000f !important; //var(--dark-patch-color) !important;
    }
}

.bg-dark-transparent {
    background-color: #000000a3;
}

.knob-container {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.knob {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: gray; /* Customize as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* Additional styling for the knob */
}

.example-patch {
    .mt-5 {
        margin: 0px;
    }
    .min-h-screen {
        min-height: unset !important;
    }
    .overflow-scroll {
        overflow: visible;
    }
    .bg-toolbar {
        //display: none;
    }
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 1px;
    border: 5px solid #000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.sidebar-btn {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.nearest-inlet {
    background-color: red !important;
}

.rt-DropdownMenuViewport {
    Button {
        width: 100%;
    }
}

.DropdownMenuItem:hover {
    background-color: #dfebeb;
    color: black;
}
.DropdownMenuItem {
    width: 100%;
    outline: none !important;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bg-clear-button,
button.iekbcc0 {
    background-color: #ffffff0f;
    color: white;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    display: flex;
}

/*
button.ju367v1s {
    display: flex;
}

button.iekbcc0 {
    display: flex;
    font-size: 8px;
    line-height: 20px;
    .ju367v6c {
        border-radius: 4px;
        padding: 1px;
        padding-left: 2px;
        padding-right: 2px;
        margin-top: 0px;
        line-height: 10px;
        width: 16px !important;
        height: 12px !important;
        font-size: 6px;
    }
    .ju367v1p, .ju367v16, .ju367v1p {

        svg {
            transform: translate(0px, 7px);
        }
    }

    div {
        display: flex;
        flex-direction: row;

    }
}
*/
[data-rk] ._9pm4ki3 {
    z-index: 10000000000 !important;
    pointer-events: auto;
}

div:active {
    // animation: none !important;
}

.inner-node-text {
    margin-top: 3px;
    margin-bottom: 3px;
}

@keyframes colorChange {
    0% {
        background-color: initial;
        margin: 0.25rem;
    }
    50% {
        background-color: white;
        margin: 0.125rem;
    }
    100% {
        background-color: initial;
        margin: 0.25rem;
    }
}

.animate-color {
    animation: colorChange 100ms forwards;
     margin: 0.25rem;
}

/* Spinner Styles */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spin {
    animation: spin 10s linear infinite;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #09f;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

.locked {
    .patcher-background {
        background-color: #12151bf0;
        background-image: radial-gradient(
                circle at center center,
                rgb(41 41 41 / 44%) 0%,
                rgb(28 27 27 / 8%) 11%,
                transparent 11%,
                transparent 100%
            ),
            linear-gradient(
                90deg,
                rgba(11, 11, 11, 0.69),
                rgba(11, 11, 11, 0.69)
            );
        background-size: 12px 12px;
    }
}

.patcher-background {
    background-color: #12151bf0;
    //background-image: radial-gradient(circle at center center, rgb(0 0 0) 0%, rgb(28 27 27) 11%,transparent 11%, transparent 100%),linear-gradient(90deg, #0b0b0bf0,#0b0b0bf2);
      background-image: radial-gradient(circle at center center, rgba(203, 203, 203, 0.2588235294) 0%, rgb(101 98 98 / 5%) 11%, transparent 11%, transparent 100%), linear-gradient(90deg, rgba(11, 11, 11, 0.69), rgba(11, 11, 11, 0.69));
    background-size: 12px 12px;
}

.text-zen-violet {
    color: #d06bff;
}
.text-zen-blue {
    color: #28ffe4;
}
.text-zen-yellow {
    color: #9eff01;
}
.text-zen-pink {
    color: #ff11cb;
}

.iekbcc0.iekbcc9.ju367v76.ju367v7r.ju367v8b.ju367v6k.ju367v4.ju367va2.ju367vn.ju367veh.ju367vft.ju367vb.ju367va.ju367v16.ju367v1h.ju367v1p.ju367v8t._12cbo8i3.ju367v8r._12cbo8i4._12cbo8i6 {
    display: none;
}

.mint-button-container {
    button {
        padding: 10px !important;
        background-color: white !important;
        color: black !important;
        font-weight: unset !important;
    }
}

.bg-light-100 {
    background-color: black;
}

.patch-window.selected-patch {
}
.patch-window {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;

    .patcher-background {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-right: 1px;
    }
    .tile {
        border-radius: 0px;
        .patcher-background {
            background-color: #121212;
            background-image: none;
        }
        height: unset !important;
        min-height: unset !important;
        flex: 1;
    }
    .dark-background,
    .selected-patch {
        border: none !important;
    }
    .tile {
        border-width: 0px !important;
        border-radius: 0px !important;
    }
    .overflow-scroll {
        overflow: hidden !important;
    }
}

.light-mode {
    .patch-window {
        .tile {
            .patcher-background {
                background-color: #6a6a72;
            }
        }
    }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

     /* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.animate {
    background-color: black !important;
    animation: colorChange 300ms forwards;
}

.locked {
    .resize-selector {
        display: none;
        pointer-events: none;
    }
}

.flash {
    span {
        background-color: #1a111f;
      animation: colorChangeBlue 500ms forwards;
      color: white !important;
    }
}

@keyframes colorChangeBlue {
    0% {
        background-color: initial;
    }
    50% {
        background-color: #8af8ff;
    }
    100% {
        background-color: initial;
    }
}

    .node-operator-type-0 {
        color: #ace8de;
    }
    .node-operator-type-1 {
        color: #d2ff00;
    }
    .node-operator-type-7 {
        color: #ffffff;
    }

    .node-operator-type-2 {
        color: #acb3ff ;
    }

    .node-operator-type-6 {
        color:#dac1f1;
    }
.bg-zinc-920 {
    background-color: #161616;
}
